<a href="https://colab.research.google.com/github/maithoi/CodeSignal/blob/arcade/Arcade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [$Markdown$](https://colab.research.google.com/github/gitedio/examples/blob/master/Working%20With%20Markdown%20Cells.ipynb#scrollTo=BMwHlyDAUm9v)

## getPoints

In [ ]:
def getPoints(answers, p):
    # return a integer value corresponding with Ith index or penalty score 
    questionPoints = lambda i, ans: i+1 if ans else -p 
    res = 0
    for i, ans in enumerate(answers):
        res += questionPoints(i, ans)
    return res

In [ ]:
lst = [True, True, False, True]
getPoints(lst, -2)

9

## Is Test Solvable

In [ ]:
def isTestSolvable(ids, k):
    digitSum = lambda number: 0 if number == 0 else (number % 10) + digitSum(number//10)

    sm = 0
    for questionId in ids:
        sm += digitSum(questionId)
    return sm % k == 0

In [ ]:
101 / 10

10.1

In [ ]:
101 // 10

10

In [ ]:
101 % 10

1

## Word Power

In [ ]:
def wordPower(word):
    num = {ch:ord(word[idx]) &31 for idx, ch in enumerate(word)}
    print(num)
    return sum([num[ch] for ch in word])

In [ ]:
wordPower('hello')

{'h': 8, 'e': 5, 'l': 12, 'o': 15}

52

# Day4 (30/6)
## Cool Paris

In [ ]:
def coolPairs(a, b):
    uniqueSums = {(i+j) for i in a for j in b if (i*j) % (i+j) ==0}
    return len(uniqueSums)

In [ ]:
a = [4, 5, 6, 7, 8]
b = [8, 9, 10, 11, 12]

In [ ]:
coolPairs(a, b)

2

## Multiplication Table 
```

multiplicationTable(n) = [[1, 2,  3,  4,  5 ], 
                          [2, 4,  6,  8,  10], 
                          [3, 6,  9,  12, 15], 
                          [4, 8,  12, 16, 20], 
                          [5, 10, 15, 20, 25]]

```

* Multiplication table of size `n Ã— n`, i.e. a square matrix that has value `i * j` at the intersection of the ith row and the jth column (both 1-based).

In [ ]:
def multiplicationTable(n):
    return [[(i+1)*(j+1) for j in range(n)] for i in range(n)]

In [ ]:
multiplicationTable(5)

[[1, 2, 3, 4, 5],
 [2, 4, 6, 8, 10],
 [3, 6, 9, 12, 15],
 [4, 8, 12, 16, 20],
 [5, 10, 15, 20, 25]]

# Dictionaries

## Unique Characters 

* Sort input string in ascending order by their ASCII codes
    - To get the ASCII code of character 
in python3 we used `ord()` function

    - [Get sorted using Lambda function](https://dev.to/zmbailey/getting-sorted-part-3-python-and-lambda-functions-28ij)


### Examples

For `document = "Todd told Tom to trot to the timber"`,
the output should be
`uniqueCharacters(document) = [' ', 'T', 'b', 'd', 'e', 'h', 'i', 'l', 'm', 'o', 'r', 't']`.

In [ ]:
def uniqueCharacters(document):
    return [char for char in sorted(list(set(document)), key=lambda x: ord(x))]

In [ ]:
document = "Todd told Tom to trot to the timber"
uniqueCharacters(document)

[' ', 'T', 'b', 'd', 'e', 'h', 'i', 'l', 'm', 'o', 'r', 't']

# Day5 (1/7)

## Fix Result 
* Using map() function to apply another calculation to a given list

In [1]:
def fixResult(result):
    def fix(x):
        return x // 10

    return list(map(fix, result))

In [4]:
result = [1, 10, 21, 22, 30]
fixResult(result)

[0, 1, 2, 2, 3]

## College Courses 
Given a list of `courses`, remove the courses with titles consisting of `x` letters and return the result.

For `x = 7` and
`courses = ["Art", "Finance", "Business", "Speech", "History", "Writing", "Statistics"]`,
the output should be
`collegeCourses(x, courses) = ["Art", "Business", "Speech", "Statistics"]`.

In [2]:
def collegeCourses(x, courses):
    def shouldConsider(course):
        return len(course) != x

    return list(filter(shouldConsider, courses))

In [3]:
courses = ["Art", "Finance", "Business", "Speech", "History", "Writing", "Statistics"]
collegeCourses(7, courses)

['Art', 'Business', 'Speech', 'Statistics']

## Create Histogram
For `ch = '*'` and `assignments = [12, 12, 14, 3, 12, 15, 14]`,
the output should be

```
createHistogram(ch, assignments) = ["************",
                                    "************",
                                    "**************",
                                    "***",
                                    "************",
                                    "***************",
                                    "**************"]
```

In [5]:
def createHistogram(ch, assignments):
    return list(map(lambda i: ch*i, assignments))

In [9]:
ch = '$'
assignments = [1, 5, 10, 15, 20]
createHistogram(ch, assignments)

['$', '$$$$$', '$$$$$$$$$$', '$$$$$$$$$$$$$$$', '$$$$$$$$$$$$$$$$$$$$']

## Least Common Denominator 
For `denominators = [2, 3, 4, 5, 6]`, the output should be
`leastCommonDenominator(denominators) = 60`.

In [10]:
# Function to calculate LCM
#Least common multiple (LCM) of numbers a and b is defined as the smallest number that is divisible by both a and b.
def lcm(x, y):
    from fractions import gcd # or can import gcd from `math` in Python 3
    return x * y // gcd(x, y)

For the given list of `denominators`, find the least common denominator by finding their `LCM`.

In [15]:
# Find LCM using GCD (Greatest Common Divisor) in the MATH library 
def lcm(a, b):
    return abs(a*b) // math.gcd(a, b)

In [18]:
import functools
import math
from fractions import gcd

def leastCommonDenominator(denominators):
    return functools.reduce(lambda x,y:abs(x*y) // math.gcd(x, y), denominators)

In [19]:
denominators = [2, 3, 4, 5, 6]
leastCommonDenominator(denominators)

60